.btn {
  border-radius: 20px;
  padding: 6px 12px 5px;
  font-family: "Poppins";
  text-transform: uppercase;
  color: #fff;
}

.btn-sm {
  padding: 4px 8px 3px;
}

.btn-lg {
  border-radius: 30px;
  padding: 15px 29px 13px;
}

.btn-white-border {
  border: 3px solid #fff;
  background-color: transparent;
  padding: 12px 26px 10px;
}
