.header {
  background: url(../src/img/header-bg-repeat-horizontal.png) repeat-x bottom left;
  font-family: "Poppins";
  font-weight: 400;

  .header-top {
    button {
      border-radius: 20px !important;
      border-top-left-radius: inherit !important;
      border-top-right-radius: inherit !important;
      font-size: 18px;
      margin-top: -15px;
      padding: 20px 25px 5px 0px !important;


      img {
        margin-right: 12px;
        margin-top: 12px;
      }
    }
  }

  .header-bottom {
    .navbar {
      button {
        @include media-breakpoint-only(xs) {
          padding: 0px !important;
        }
      }

      .navbar-brand {
        img {
          width: 150px;
        }
      }

      .navbar-collapse {
        .navbar-nav {

          .nav-link,
          .nav-link.active {
            @include media-breakpoint-only(md) {
              font-size: 14px;
            }
          }

          .nav-link:hover,
          .nav-link.active:hover,
          .nav-link:focus,
          .nav-link.active:focus {
            @include media-breakpoint-up(md) {
              box-shadow: 0 -4px 0 0 #fe9900 inset;
            }
          }
        }
      }
    }
  }
}
