.under_splash {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 18px;
  position: relative;

  @include media-breakpoint-up(xs) {
    margin-top: 30px;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 30px;
  }

  @include media-breakpoint-up(xl) {
    margin-top: -100px;
    margin-bottom: 0;
  }

  .under_splash-content {
    @include media-breakpoint-up(md) {
      width: 192px;
      margin: 0px 30px 0px;
    }

    img {
      margin-bottom: 10px;

      @include media-breakpoint-up(md) {
        margin-bottom: 26px;
      }
    }

    h6 {
      font-family: "Poppins";
      font-size: 18px;
      font-weight: 700;
    }
  }
}
